<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Footer</title>
<style>
footer {
            text-align: center;
            margin-top: 60px;
            color: #5d4037;
            font-size: 16px;
            font-weight: 500;
            padding: 20px 0;
            background-color: #fff3e0;
            border-top: 2px solid #ffccbc;
            box-shadow: 0 -3px 12px rgba(0,0,0,0.1);
        }

        </style>
</head>
<body>
<div th:fragment="footer">
<span id="footer-copyright" style="font-size:10pt; text-align:center ">Copyright &copy; 2025
Khushpreet Kaur</span>
</div>
</body>
</html>