<!DOCTYPE html>
<html xmlns:>
<head>
<meta charset="UTF-8">
<title>Coffee</title>
<style>
  div {
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(90deg, #4e342e, #6d4c41);
            padding: 25px;
            border-radius: 15px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
            margin-bottom: 40px;
            text-align:center;
        }
        </style>
</head>
<body>
<div th:fragment="header">
<img id="logo" height="95px"
			src="../../static/images/javalogo.jpg"
			th:src="@{/images/javalogo.jpg}" />
<span id="system-name" style="font-size:80pt; text-align:center;">SpringBrew Coffee Shop</span>
</div>


</body>
</html>